# Assignment 2


1. İrem Koç

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("Assignment2Data.xlsx - Sheet1.csv",encoding="utf-8")

df.index+=1
df
#In the data "Transmission" column should be written, but "Tranmission" column is written!!

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
1,Balıkesir,Edremit,70000.0,Peugeot,607,2.7 HDi Ivoire,2007,Dizel,Otomatik,150000,Sedan,201,2501,Forward,Lacivert,Owner
2,Ankara,Çankaya,92000.0,BMW,3 Serisi,320d Standart,2011,Dizel,Otomatik,106000,Sedan,176,1801,Back,Füme,Owner
3,Ankara,Altındağ,22500.0,Tofaş,Murat,124,1976,Benzin,Manuel,1453,Sedan,65,1239,Back,Mavi,Dealer
4,İzmir,Çiğli,19499.0,Rover,220,Turbo,1995,Benzin,Manuel,165000,Coupe,251,1801,Forward,Füme,Owner
5,Ankara,Çankaya,55000.0,Mercedes - Benz,S,S 500 500 L,1996,Benzin,Otomatik,265000,Sedan,301,4501,Back,Gümüş Gri,Dealer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,Antalya,Kepez,31500.0,Mercedes - Benz,300,300 SEL,1992,Benzin & LPG,Manuel,312000,Sedan,226,3001,Back,Siyah,Dealer
9997,Balıkesir,Burhaniye,77250.0,Honda,Civic,1.6 i-VTEC Elegance,2014,Benzin,Otomatik,21242,Sedan,101,1401,Forward,Gümüş Gri,Dealer
9998,Trabzon,Ortahisar,40000.0,Mini,Cooper,1.6,2005,Benzin,Manuel,148000,Hatchback 3 kapı,115,1598,Forward,Mavi,Owner
9999,Giresun,Bulancak,11000.0,Fiat,Tempra,1.6 SX,1991,Benzin & LPG,Manuel,168956,Sedan,76,1401,Forward,Mavi,Dealer
10000,İstanbul,Bakırköy,51000.0,Ford,Focus,1.6 Trend X,2011,Benzin,Otomatik,50000,Sedan,526,1601,Forward,Gri,Owner

#### 1. Find the average price of cars for each years and return it as a dictionary like:

In [2]:
avg_year_price = df.groupby("Year")["Price"].mean()

avg_year_price.index = [str(i) for i in avg_year_price.index]

avg_year_price = dict(avg_year_price)

avg_year_price

{'1970': 42500.0,
 '1971': 5000.0,
 '1972': 40000.0,
 '1974': 33233.166666666664,
 '1975': 60833.333333333336,
 '1976': 48155.0,
 '1977': 59900.0,
 '1978': 15749.75,
 '1979': 10316.666666666666,
 '1980': 23863.333333333332,
 '1981': 17250.0,
 '1982': 9966.0,
 '1983': 15358.333333333334,
 '1984': 14968.625,
 '1985': 25542.85714285714,
 '1986': 86114.80952380953,
 '1987': 23661.842105263157,
 '1988': 16083.333333333334,
 '1989': 27556.521739130436,
 '1990': 35063.833333333336,
 '1991': 23460.26388888889,
 '1992': 18423.14864864865,
 '1993': 14736.401869158879,
 '1994': 22508.66129032258,
 '1995': 29019.746987951807,
 '1996': 45980.55371900826,
 '1997': 38808.15,
 '1998': 47752.07582938389,
 '1999': 25783.895705521474,
 '2000': 34503.56,
 '2001': 32678.177272727273,
 '2002': 47139.45054945055,
 '2003': 52220.03398058253,
 '2004': 43144.814385150814,
 '2005': 51540.56300268097,
 '2006': 63163.508676789585,
 '2007': 89100.35530085959,
 '2008': 90783.32765957447,
 '2009': 98743.04702194357,
 '2010': 117372.87422680412,
 '2011': 130921.23860911271,
 '2012': 169807.42779332618,
 '2013': 199353.57472067038,
 '2014': 173190.52985074627,
 '2015': 218138.30225653207,
 '2016': 238296.2506203474,
 '2017': 621071.5096153846}

#### 2- Prices of some cars are missing. Find them and replace them with the average prices of the years they belong to. For example if the car is from 2015, then assign the average price of the cars in 2015

In [6]:
avg_year_price = df.groupby(["Year"])["Price"].mean()
avg_values = avg_year_price.values
dictionary = {}
count=0
for i in avg_year_price.index:
    dictionary[i]=avg_values[count]
    count+=1

print(dictionary)
#I created a dictionary which include the average prices by the years!

{1970: 42500.0, 1971: 5000.0, 1972: 40000.0, 1974: 33233.166666666664, 1975: 60833.333333333336, 1976: 48155.0, 1977: 59900.0, 1978: 15749.75, 1979: 10316.666666666666, 1980: 23863.333333333332, 1981: 17250.0, 1982: 9966.0, 1983: 15358.333333333334, 1984: 14968.625, 1985: 25542.85714285714, 1986: 86114.80952380953, 1987: 23661.842105263157, 1988: 16083.333333333334, 1989: 27556.521739130436, 1990: 35063.833333333336, 1991: 23460.26388888889, 1992: 18423.14864864865, 1993: 14736.401869158879, 1994: 22508.66129032258, 1995: 29019.746987951807, 1996: 45980.55371900826, 1997: 38808.15, 1998: 47752.07582938389, 1999: 25783.895705521474, 2000: 34503.56, 2001: 32678.177272727273, 2002: 47139.45054945055, 2003: 52220.03398058253, 2004: 43144.814385150814, 2005: 51540.56300268097, 2006: 63163.508676789585, 2007: 89100.35530085959, 2008: 90783.32765957447, 2009: 98743.04702194357, 2010: 117372.87422680412, 2011: 130921.23860911271, 2012: 169807.42779332618, 2013: 199353.57472067038, 2014: 173190.52985074627, 2015: 218138.30225653207, 2016: 238296.2506203474, 2017: 621071.5096153846}

In [7]:
index_nans = df[df["Price"].isnull()].index

index_nans

Int64Index([123, 173, 220, 358, 474, 676, 747, 1340, 1745], dtype='int64')

In [8]:
dict1 = {}

for i in index_nans:
    year = df.iloc[i-1]["Year"]
    dict1[year] = dictionary[year]
    
dict1

{2004: 43144.814385150814,
 2005: 51540.56300268097,
 2012: 169807.42779332618,
 2008: 90783.32765957447,
 1998: 47752.07582938389,
 2003: 52220.03398058253}

In [9]:
df.isnull().sum()
# I can see the nans of the price column

City           0
District       0
Price          9
Brand          0
Series         0
Model          0
Year           0
Fuel           0
Tranmission    0
Km             0
Chasis         0
Power          0
Engine         0
Drive          0
Color          0
From           0
dtype: int64

In [10]:
for i in index_nans:
    val = dict1[df.iloc[i-1]["Year"]]
    df.fillna(axis = 1, value = val, inplace=True, limit=1)

# I filled the nans with their annual average prices!

In [11]:
df.isnull().sum() # I filled 9 values !

City           0
District       0
Price          0
Brand          0
Series         0
Model          0
Year           0
Fuel           0
Tranmission    0
Km             0
Chasis         0
Power          0
Engine         0
Drive          0
Color          0
From           0
dtype: int64

In [12]:
df.iloc[172]

City                İstanbul
District               Fatih
Price           51540.563003
Brand                   Audi
Series                    A4
Model               A4 Sedan
Year                    2005
Fuel            Benzin & LPG
Tranmission    Yarı Otomatik
Km                    115250
Chasis                 Sedan
Power                    130
Engine                  1984
Drive                Forward
Color                   Mavi
From                   Owner
Name: 173, dtype: object

In [13]:
df.iloc[122] #I controlled the prices of the missing values! So everything ok!

City                 Ankara
District            Çankaya
Price          43144.814385
Brand                  Opel
Series                Astra
Model          1.6 Elegance
Year                   2004
Fuel                 Benzin
Tranmission        Otomatik
Km                   140000
Chasis                Sedan
Power                   101
Engine                 1401
Drive               Forward
Color                 Beyaz
From                 Dealer
Name: 123, dtype: object

#### 3- There are some repetitive rows, i.e. the same cars are given in different lines. If everything except the price is the same, then they are ads for the same car which means these rows are repetitive. Find and clear them. If two lines belong to the same car, then erase the data which has the larger price since it means that the car is not sold and the owner has reduced the price in a new ad to sell the car.

In [14]:
df[df.duplicated()]

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
15,İzmir,Gaziemir,35000.0,Toyota,Corolla,1.4 Terra,2006,Dizel,Manuel,230000,Sedan,76,1201,Forward,Gri,Dealer
21,İstanbul,Sarıyer,1339300.0,Mercedes - Benz,S,S 63 AMG,2014,Benzin,Yarı Otomatik,23500,Sedan,585,5461,4WD,Siyah,Dealer
31,Muğla,Milas,72500.0,Mini,Cooper S,1.6 Coupe,2010,Benzin,Otomatik,110000,Sedan,126,1601,Forward,Beyaz,Owner
33,Ankara,Akyurt,261000.0,Mercedes - Benz,S,S 320 320 CDI L,2010,Dizel,Otomatik,195000,Sedan,251,3001,4WD,Siyah,Dealer
49,İstanbul,Kağıthane,125000.0,Volvo,V60,1.6 T4 T4,2012,Benzin,Otomatik,9400,Station Wagon,176,1401,Forward,Beyaz,Dealer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9956,İstanbul,Eyüp,257500.0,Porsche,Cayman,Cayman,2010,Benzin,Yarı Otomatik,129000,Coupe,245,2687,Back,Kahverengi,Owner
9972,İstanbul,Ümraniye,86000.0,Seat,Leon,1.6 TDI Style,2016,Dizel,Manuel,13500,Hatchback 5 kapı,110,1598,Forward,Beyaz,Owner
9975,Erzurum,Yakutiye,80900.0,Kia,Ceed,1.6 CRDi Premium,2015,Dizel,Otomatik,46000,Hatchback 5 kapı,128,1582,Forward,Bej,Dealer
9977,Muğla,Menteşe,19000.0,Fiat,Palio,1.2 EL,2002,Benzin & LPG,Manuel,180000,Hatchback 5 kapı,74,1242,Forward,Kırmızı,Dealer
9989,Sivas,Şarkışla,26500.0,Toyota,Camry,3.0 GX,1998,Benzin & LPG,Otomatik,400000,Sedan,190,2995,Forward,Şampanya,Dealer

In [15]:
df[df.duplicated()].index
#I found duplicated row index!

Int64Index([  15,   21,   31,   33,   49,   52,   54,   67,   72,   75,
            ...
            9880, 9911, 9935, 9952, 9954, 9956, 9972, 9975, 9977, 9989],
           dtype='int64', length=988)

In [16]:
df.drop(index=df[df.duplicated()].index, axis=0, inplace=True) 
#I deleted all of the duplicated rows

df.index = list(range(1,9013))

a1 = df[["City","District","Brand","Series","Model","Year","Fuel","Tranmission","Km","Chasis","Power","Engine","Drive","Color","From"]]
a1 = a1[a1.duplicated()]
#I found the rows having same values except price!

print(a1.index)

Int64Index([  21,   31,   46,   50,   65,   69,   72,   74,   79,   87,
            ...
            8929, 8937, 8965, 8966, 8969, 8974, 8980, 8986, 8992, 8996],
           dtype='int64', length=704)

In [17]:
print(df.iloc[19])
print("***********")
print(df.iloc[20])#As we can see in the a1.index's first value 21,it means 20nd index-location and 
#it is lower price than the one above
#So we should delete a1.index's decrementing by one.

City             İstanbul
District          Sarıyer
Price           1118625.0
Brand             Porsche
Series                911
Model          Carrera 4S
Year                 2013
Fuel               Benzin
Tranmission      Otomatik
Km                  21000
Chasis              Coupe
Power                 376
Engine               3501
Drive                 4WD
Color               Siyah
From               Dealer
Name: 20, dtype: object
***********
City             İstanbul
District          Sarıyer
Price           1078250.0
Brand             Porsche
Series                911
Model          Carrera 4S
Year                 2013
Fuel               Benzin
Tranmission      Otomatik
Km                  21000
Chasis              Coupe
Power                 376
Engine               3501
Drive                 4WD
Color               Siyah
From               Dealer
Name: 21, dtype: object

In [18]:
liste = [i-1 for i in a1.index]
#I determined which indexes will be delete

In [19]:
df.drop(index=liste, axis=0, inplace=True) #I removed the rows having same values except price!

In [20]:
df.index = list(range(1,8309))#I re-index the main data

In [21]:
df

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
1,Balıkesir,Edremit,70000.0,Peugeot,607,2.7 HDi Ivoire,2007,Dizel,Otomatik,150000,Sedan,201,2501,Forward,Lacivert,Owner
2,Ankara,Çankaya,92000.0,BMW,3 Serisi,320d Standart,2011,Dizel,Otomatik,106000,Sedan,176,1801,Back,Füme,Owner
3,Ankara,Altındağ,22500.0,Tofaş,Murat,124,1976,Benzin,Manuel,1453,Sedan,65,1239,Back,Mavi,Dealer
4,İzmir,Çiğli,19499.0,Rover,220,Turbo,1995,Benzin,Manuel,165000,Coupe,251,1801,Forward,Füme,Owner
5,Ankara,Çankaya,55000.0,Mercedes - Benz,S,S 500 500 L,1996,Benzin,Otomatik,265000,Sedan,301,4501,Back,Gümüş Gri,Dealer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8304,Antalya,Kepez,31500.0,Mercedes - Benz,300,300 SEL,1992,Benzin & LPG,Manuel,312000,Sedan,226,3001,Back,Siyah,Dealer
8305,Balıkesir,Burhaniye,77250.0,Honda,Civic,1.6 i-VTEC Elegance,2014,Benzin,Otomatik,21242,Sedan,101,1401,Forward,Gümüş Gri,Dealer
8306,Trabzon,Ortahisar,40000.0,Mini,Cooper,1.6,2005,Benzin,Manuel,148000,Hatchback 3 kapı,115,1598,Forward,Mavi,Owner
8307,Giresun,Bulancak,11000.0,Fiat,Tempra,1.6 SX,1991,Benzin & LPG,Manuel,168956,Sedan,76,1401,Forward,Mavi,Dealer
8308,İstanbul,Bakırköy,51000.0,Ford,Focus,1.6 Trend X,2011,Benzin,Otomatik,50000,Sedan,526,1601,Forward,Gri,Owner

#### 4- Find the standard deviation of the prices of each brand. You can find the definition of the standard deviation from wikipedia or use the following formula where Xbar is the average of the data.

In [22]:
deviation = df.groupby("Brand")["Price"].agg(np.std)
#I used NumPy's std function to calculate the standard deviation.

deviation = dict(deviation)
deviation

{'Alfa Romeo': 37002.30447424821,
 'Audi': 176038.4501637078,
 'BMW': 136913.3778887323,
 'Bentley': 609241.5690739417,
 'Chevrolet': 167818.74705043255,
 'Chrysler': 40920.14406538657,
 'Citroën': 18244.53187591774,
 'Dacia': 17001.443603544696,
 'Ferrari': 865219.6242592582,
 'Fiat': 20423.500671384325,
 'Ford': 45379.08887541621,
 'Honda': 24829.456883588166,
 'Hyundai': 18621.422691709307,
 'Jaguar': 179952.9941718924,
 'Kia': 24685.712544757207,
 'Lada': 3743.919867680097,
 'Lancia': 49732.50185815539,
 'Maserati': 237530.95745141647,
 'Mazda': 33940.01593180193,
 'Mercedes - Benz': 477017.2226205612,
 'Mini': 38001.41076669785,
 'Nissan': 243536.32484559505,
 'Opel': 21693.707193774986,
 'Peugeot': 19748.60377155121,
 'Porsche': 521777.4589112611,
 'Renault': 24743.339551054163,
 'Rover': 7451.345227249385,
 'Seat': 26915.522855049283,
 'Skoda': 39850.73011987309,
 'Smart': 10548.696601950403,
 'Subaru': 42329.28851797052,
 'Suzuki': 17415.149151241858,
 'Tata': 4726.45649780478,
 'Tofaş': 13954.978992545111,
 'Toyota': 20935.95521369001,
 'Volkswagen': 36837.61385624254,
 'Volvo': 49817.506890768374}

#### 5- Find the average price of each city and return it as a dictionary like above.

In [23]:
aver_city = df.groupby("City")["Price"].mean()

aver_city = dict(aver_city)
aver_city

{'Adana': 68796.35802469136,
 'Adıyaman': 72804.76190476191,
 'Afyonkarahisar': 61468.0,
 'Aksaray': 59964.25,
 'Amasya': 49504.02702702703,
 'Ankara': 87678.39036513545,
 'Antalya': 109401.56272841051,
 'Ardahan': 47875.0,
 'Artvin': 34460.0,
 'Aydın': 59419.31884057971,
 'Ağrı': 39166.5,
 'Balıkesir': 54961.15957446808,
 'Bartın': 74183.33333333333,
 'Batman': 72102.94117647059,
 'Bayburt': 65821.25,
 'Bilecik': 74772.22222222222,
 'Bingöl': 79200.0,
 'Bitlis': 26800.0,
 'Bolu': 56679.6875,
 'Burdur': 39130.5,
 'Bursa': 77534.09407665505,
 'Denizli': 66683.6305732484,
 'Diyarbakır': 111486.95652173914,
 'Düzce': 52468.41176470588,
 'Edirne': 55500.0,
 'Elazığ': 58118.15677544699,
 'Erzincan': 59426.470588235294,
 'Erzurum': 70053.57790439378,
 'Eskişehir': 91988.81176470588,
 'Gaziantep': 110439.0054945055,
 'Giresun': 91271.66666666667,
 'Gümüşhane': 56833.333333333336,
 'Hakkari': 106500.0,
 'Hatay': 66854.9504950495,
 'Isparta': 66093.42105263157,
 'Iğdır': 44785.0,
 'Kahramanmaraş': 71285.22950819672,
 'Karabük': 70171.42857142857,
 'Karaman': 68997.88,
 'Kars': 47050.0,
 'Kastamonu': 38612.794871794875,
 'Kayseri': 59333.635802469136,
 'Kilis': 100416.66666666667,
 'Kocaeli': 67112.49302325581,
 'Konya': 86838.72039532213,
 'Kütahya': 45144.13953488372,
 'Kırklareli': 74479.125,
 'Kırıkkale': 87373.80952380953,
 'Kırşehir': 61485.23529411765,
 'Malatya': 53776.903846153844,
 'Manisa': 47484.779411764706,
 'Mardin': 152837.5,
 'Mersin': 81376.43634571866,
 'Muğla': 65171.89887640449,
 'Muş': 67000.0,
 'Nevşehir': 77767.14285714286,
 'Niğde': 53497.5,
 'Ordu': 62495.833333333336,
 'Osmaniye': 63605.68571428571,
 'Rize': 53393.833333333336,
 'Sakarya': 71699.33987781756,
 'Samsun': 53902.56428571429,
 'Siirt': 76141.5,
 'Sinop': 48566.666666666664,
 'Sivas': 58833.48484848485,
 'Tekirdağ': 56055.541666666664,
 'Tokat': 61457.8125,
 'Trabzon': 73053.0,
 'Tunceli': 70000.0,
 'Uşak': 49141.555555555555,
 'Van': 82588.3,
 'Yalova': 41800.0,
 'Yozgat': 48771.206896551725,
 'Zonguldak': 65820.6875,
 'Çanakkale': 76644.44444444444,
 'Çankırı': 65850.0,
 'Çorum': 61426.0,
 'İstanbul': 219559.84795490224,
 'İzmir': 100453.4963768116,
 'Şanlıurfa': 88430.45454545454,
 'Şırnak': 47437.5}

#### 6- Find the average price of each brand and return it as a dictionary like those above.

In [24]:
avr_brand = df.groupby("Brand")["Price"].mean()

avr_brand = dict(avr_brand)
avr_brand

{'Alfa Romeo': 49404.828571428574,
 'Audi': 144738.83417018404,
 'BMW': 144863.38101265824,
 'Bentley': 1261909.9285714286,
 'Chevrolet': 97469.6008583691,
 'Chrysler': 69058.80281690141,
 'Citroën': 46233.82352941176,
 'Dacia': 42194.3064516129,
 'Ferrari': 1377101.0384615385,
 'Fiat': 34525.406153846154,
 'Ford': 54388.21333333333,
 'Honda': 49351.38114754098,
 'Hyundai': 39167.084210526315,
 'Jaguar': 204140.13888888888,
 'Kia': 49949.40967086416,
 'Lada': 10948.780487804877,
 'Lancia': 61243.75,
 'Maserati': 570366.3981481482,
 'Mazda': 43415.9465648855,
 'Mercedes - Benz': 206247.91923076924,
 'Mini': 74774.08181818182,
 'Nissan': 92103.56050955414,
 'Opel': 42479.67788461538,
 'Peugeot': 39107.489795918365,
 'Porsche': 723533.4628099174,
 'Renault': 40966.67295597484,
 'Rover': 21415.17391304348,
 'Seat': 54334.2479338843,
 'Skoda': 67092.70967741935,
 'Smart': 38250.0,
 'Subaru': 56361.28301886792,
 'Suzuki': 27798.0,
 'Tata': 18319.23076923077,
 'Tofaş': 14416.597633136094,
 'Toyota': 47653.37082066869,
 'Volkswagen': 72718.33825854637,
 'Volvo': 72368.74264705883}

#### 7- Find the average price of the Mercedes-Benz cars that has automatic transmission in İstanbul.

In [25]:
avg_price_trbrci = df.groupby(["Tranmission","Brand","City"])["Price"].mean()

avg_price_trbrci

Tranmission    Brand       City
Manuel         Alfa Romeo  Adana         27500.000000
                           Ankara        38741.666667
                           Antalya       58131.250000
                           Batman        25000.000000
                           Bursa         23216.666667
                                            ...
Yarı Otomatik  Volvo       Rize          79500.000000
                           Tokat         72750.000000
                           Çanakkale    170000.000000
                           İstanbul      92809.090909
                           İzmir         96237.500000
Name: Price, Length: 2001, dtype: float64

In [26]:
avg_price_trbrci["Otomatik"]["Mercedes - Benz"]["İstanbul"]

312744.3316326531

#### 8- Find the number of cars whose price is less than 100K TL, between 100K(exclusive) and 200k (inclusive) and larger than 200k(exclusive). (K means thousand.) The output should be dictionary like this:

In [27]:
dictionary = {"0-100":0,
              "100-200":0,
              "200 and over":0}

for i in df["Price"]:
    if i<=100000:
        dictionary["0-100"]+=1
    if i<=200000 and i>100000:
        dictionary["100-200"]+=1
    if i>200000:
        dictionary["200 and over"]+=1
dictionary

{'0-100': 6198, '100-200': 1218, '200 and over': 892}

#### 9-Write a function which generates the above lists automatically. That is, write a function which calculates the number of cars for a given list of prices. For example, for the above question, the input will be [100,200]. If you given [50, 100, 150, 200, 250], then the function will return a dictionary like this:

In [28]:
prices = df["Price"].values
prices

array([70000., 92000., 22500., ..., 40000., 11000., 51000.])

In [29]:
def function(liste):
    liste.insert(0,0)
    dictionary = {}
    # I created dicctionary's keys
    for i in range(0,len(liste)):
        if i==0:
            dictionary["0-"+str(liste[i+1])]=0        
        elif i!=0 and i!=len(liste)-1 :
            dictionary[str(liste[i])+"-"+str(liste[i+1])]=0
        else:
            dictionary[str(liste[i])+" and over"]=0
    
    for i in prices:
        new = []
        for j in liste:
            if i<=j*1000:
                less_equal = j
                greater = liste[liste.index(j)-1]
                dictionary["{}-{}".format(greater,less_equal)]+=1
                break
            elif j == liste[-1]:
                dictionary[str(liste[-1])+" and over"]+=1
                break
        
    print(dictionary) 
function([50, 100, 150, 200, 250])

{'0-50': 3835, '50-100': 2363, '100-150': 780, '150-200': 438, '200-250': 158, '250 and over': 734}

#### 10- Find the number of cars that has an automatic transmission whose price is less than 100K TL, between 100K(exclusive) and 200k (inclusive) and larger than 200k(exclusive). (K means thousand.) Again, the output should be dictionary.

In [30]:
auto_tran= df.groupby("Tranmission").get_group("Otomatik")

dictionary1 = {"0-100":0,
              "100-200":0,
              "200 over":0}

for i in auto_tran["Price"]:
    if i<=100000:
        dictionary1["0-100"]+=1
    if i<=200000 and i>100000:
        dictionary1["100-200"]+=1
    if i>200000:
        dictionary1["200 over"]+=1
        
dictionary1

{'0-100': 926, '100-200': 203, '200 over': 341}

#### 11- For every brand, find the difference for the average prices of automatic transmission and manual transmission and return it as a dictionary.

In [31]:
brands = df.groupby(["Brand"])["Brand"]
brands = pd.DataFrame(brands,columns=["Brand","Indexes"])

brands_transmissions = df.groupby(["Brand","Tranmission"])["Price"].mean()

### !!!!

# I got an error for  Bentley Brand because it doesn't have a manual transmission. 
# Therefore I passed it. If there are samples like this same processes will be applied to them.

dictionary = {}

for i in brands["Brand"]: 
    try:
        dictionary[i] = abs(brands_transmissions[i]["Otomatik"]-brands_transmissions[i]["Manuel"])
    except Exception:
        pass
dictionary

{'Alfa Romeo': 61746.05263157895,
 'Audi': 193231.77669361583,
 'BMW': 126113.57961309524,
 'Chevrolet': 120438.46528592991,
 'Chrysler': 45766.24396135265,
 'Citroën': 28825.0,
 'Ferrari': 320501.5,
 'Fiat': 16109.721153846156,
 'Ford': 14589.222222222219,
 'Honda': 4690.402256834073,
 'Hyundai': 18557.014423076922,
 'Jaguar': 102591.6,
 'Kia': 25731.75476658924,
 'Lancia': 145062.5,
 'Maserati': 399772.1875,
 'Mazda': 40508.18542199488,
 'Mercedes - Benz': 188068.3493194727,
 'Mini': 12777.371212121208,
 'Nissan': 178908.42304347828,
 'Opel': 21136.28991905813,
 'Peugeot': 15387.549237472762,
 'Porsche': 541601.6048109967,
 'Renault': 10710.062037564028,
 'Rover': 14640.5,
 'Seat': 24036.348455598454,
 'Skoda': 45275.853054485415,
 'Subaru': 21934.975,
 'Suzuki': 9243.234449760763,
 'Toyota': 5093.185007974476,
 'Volkswagen': 17282.40337585951,
 'Volvo': 14873.02076381164}

#### 12- Create a new dataframe which is ordered in terms of the prices of the cars.

In [32]:
df1 = df.sort_values(by = "Price")

df1.index = list(range(1,8309))

df1

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
1,İstanbul,Ümraniye,2850.0,Toyota,Corona,1.6 XL,1985,Benzin & LPG,Manuel,200000,Sedan,76,1601,Forward,Bordo,Dealer
2,Rize,Fındıklı,3250.0,Renault,R 12,GTS,1983,Benzin,Manuel,110,Sedan,72,1397,Forward,Sarı,Dealer
3,Kütahya,Merkez,3999.0,Tofaş,Şahin,Şahin 5 vites,1992,Benzin & LPG,Manuel,105000,Sedan,80,1581,Back,Beyaz,Dealer
4,Ankara,Çankaya,4950.0,Lada,Samara,1.5,1993,Benzin & LPG,Manuel,17989,Hatchback 5 kapı,68,1499,Forward,Beyaz,Dealer
5,Denizli,Acıpayam,5000.0,Tofaş,Şahin,1.4,1988,Benzin & LPG,Manuel,91000,Sedan,71,1372,Back,Beyaz,Dealer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8304,İstanbul,Şişli,3763290.0,Ferrari,488,Spider,2017,Benzin,Otomatik,195,Cabrio,601,3501,Back,Füme,Dealer
8305,İstanbul,Beşiktaş,4351000.0,Mercedes - Benz,Maybach S,S 600,2017,Benzin,Otomatik,0,Sedan,526,6001,4WD,Siyah,Dealer
8306,İstanbul,Sarıyer,4568700.0,Ferrari,F Serisi,F12 Berlinetta,2015,Benzin,Otomatik,0,Coupe,601,6001,Back,Lacivert,Dealer
8307,İstanbul,Kadıköy,5107500.0,Mercedes - Benz,S,S 600 600 L,2016,Benzin,Yarı Otomatik,0,Sedan,530,5980,Back,Siyah,Dealer
8308,İstanbul,Kadıköy,10215000.0,Mercedes - Benz,Maybach S,S 600,2016,Benzin,Yarı Otomatik,0,Sedan,530,5980,Back,Kahverengi,Dealer

#### 13- Create a new dataframe which is ordered in terms of the cities first and then prices of the cars.

In [33]:
df2=df
df2.replace("Şanlıurfa", "Sanlıurfa")
df2.replace(to_replace="İstanbul", value="Istanbul")
#I got an error because of the starting with non english characters city. 

#For example the rows of the Trabzon city were above Şırnak. Thus, I controlled with the replacing characters 
#with english characters:

for i in df2["City"].values:
    liste= ["Ç","Ş","İ","Ü","Ö"]
    normal_liste=["C","S","I","U","O"]
    for j in liste:
        index = liste.index(j)
        if i.startswith(j):
            val = normal_liste[index]+i[1:]
            df2.replace(to_replace=i, value=val, inplace=True)   

df2 = df2.sort_values(by=["City","Price"])

df2.index = list(range(1,8309))

df2

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From
1,Adana,Yüreğir,8500.0,Tofaş,Serçe,Serçe,1994,Benzin & LPG,Manuel,100000,Sedan,65,1239,Back,Beyaz,Owner
2,Adana,Seyhan,9900.0,Mazda,626,1.6,1991,Benzin & LPG,Manuel,370000,Sedan,76,1401,Forward,Lacivert,Dealer
3,Adana,Çukurova,12500.0,Toyota,Corona,2.0 XL,1991,Benzin & LPG,Manuel,265000,Sedan,126,1801,Forward,Beyaz,Owner
4,Adana,Seyhan,12500.0,Tofaş,Murat,124,1975,Benzin & LPG,Manuel,150000,Sedan,51,1201,Back,Mavi,Dealer
5,Adana,Çukurova,12500.0,Fiat,Tipo,1.4 S,1998,Benzin & LPG,Manuel,134000,Hatchback 5 kapı,51,1201,Forward,Mavi,Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8304,Zonguldak,Merkez,100000.0,Audi,A3,A3 Sportback 1.6 TDI Ambition,2014,Dizel,Yarı Otomatik,58000,Hatchback 5 kapı,105,1598,Forward,Beyaz,Dealer
8305,Zonguldak,Merkez,123000.0,BMW,3 Serisi,320i ED EfficientDynamics,2014,Benzin,Yarı Otomatik,50000,Sedan,170,1598,Back,Beyaz,Dealer
8306,Zonguldak,Çaycuma,127500.0,BMW,5 Serisi,520d Comfort,2010,Dizel,Yarı Otomatik,245000,Sedan,176,1801,Back,Siyah,Dealer
8307,Zonguldak,Merkez,360000.0,Mercedes - Benz,E,E 180 AMG,2017,Benzin,Otomatik,1500,Sedan,156,1595,Back,Kırmızı,Owner
8308,Zonguldak,Kozlu,810000.0,Mercedes - Benz,S,S 350 BlueTEC 4Matic 7G-Tronic,2015,Dizel,Yarı Otomatik,23880,Sedan,258,2987,4WD,Siyah,Dealer

#### 14- Divide the price of the cars by its power (Cost/power) and add it as a new column to the datafame.

In [34]:
new_column=[]
for i,j in df[["Price","Power"]].values:
    new_column.append(i/j)
df["Price/Power"] = new_column
df

,City,District,Price,Brand,Series,Model,Year,Fuel,Tranmission,Km,Chasis,Power,Engine,Drive,Color,From,Price/Power
1,Balıkesir,Edremit,70000.0,Peugeot,607,2.7 HDi Ivoire,2007,Dizel,Otomatik,150000,Sedan,201,2501,Forward,Lacivert,Owner,348.258706
2,Ankara,Çankaya,92000.0,BMW,3 Serisi,320d Standart,2011,Dizel,Otomatik,106000,Sedan,176,1801,Back,Füme,Owner,522.727273
3,Ankara,Altındağ,22500.0,Tofaş,Murat,124,1976,Benzin,Manuel,1453,Sedan,65,1239,Back,Mavi,Dealer,346.153846
4,Izmir,Çiğli,19499.0,Rover,220,Turbo,1995,Benzin,Manuel,165000,Coupe,251,1801,Forward,Füme,Owner,77.685259
5,Ankara,Çankaya,55000.0,Mercedes - Benz,S,S 500 500 L,1996,Benzin,Otomatik,265000,Sedan,301,4501,Back,Gümüş Gri,Dealer,182.724252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8304,Antalya,Kepez,31500.0,Mercedes - Benz,300,300 SEL,1992,Benzin & LPG,Manuel,312000,Sedan,226,3001,Back,Siyah,Dealer,139.380531
8305,Balıkesir,Burhaniye,77250.0,Honda,Civic,1.6 i-VTEC Elegance,2014,Benzin,Otomatik,21242,Sedan,101,1401,Forward,Gümüş Gri,Dealer,764.851485
8306,Trabzon,Ortahisar,40000.0,Mini,Cooper,1.6,2005,Benzin,Manuel,148000,Hatchback 3 kapı,115,1598,Forward,Mavi,Owner,347.826087
8307,Giresun,Bulancak,11000.0,Fiat,Tempra,1.6 SX,1991,Benzin & LPG,Manuel,168956,Sedan,76,1401,Forward,Mavi,Dealer,144.736842
8308,Istanbul,Bakırköy,51000.0,Ford,Focus,1.6 Trend X,2011,Benzin,Otomatik,50000,Sedan,526,1601,Forward,Gri,Owner,96.958175

#### 15- How many different series each brand have? The output should be a dictionary like above.

In [35]:
series = df.groupby(["Brand","Series"])["Price"].mean()

brands = df.groupby(["Brand"])["Brand"]
brands = pd.DataFrame(brands,columns=["Brand","Indexes"])

dictionary3 = {}

for i in brands["Brand"]: 
    dictionary3[i] = series[i].count()
    
dictionary3

{'Alfa Romeo': 10,
 'Audi': 12,
 'BMW': 13,
 'Bentley': 3,
 'Chevrolet': 12,
 'Chrysler': 9,
 'Citroën': 11,
 'Dacia': 4,
 'Ferrari': 9,
 'Fiat': 16,
 'Ford': 13,
 'Honda': 9,
 'Hyundai': 19,
 'Jaguar': 13,
 'Kia': 14,
 'Lada': 4,
 'Lancia': 3,
 'Maserati': 5,
 'Mazda': 10,
 'Mercedes - Benz': 26,
 'Mini': 5,
 'Nissan': 13,
 'Opel': 12,
 'Peugeot': 18,
 'Porsche': 6,
 'Renault': 17,
 'Rover': 9,
 'Seat': 8,
 'Skoda': 10,
 'Smart': 2,
 'Subaru': 6,
 'Suzuki': 8,
 'Tata': 4,
 'Tofaş': 5,
 'Toyota': 12,
 'Volkswagen': 17,
 'Volvo': 20}

### 16- Write a function called analyze_car_data that has at least two parameters as follows:
- Count can be price or count or power
- Property can be City, Brand, Fuel, Transmission, Chassis orColor.

**If you call the function as follows then it will return the average car price of each city.

**If you call the function as follows then it will return the number of cars for each transmission type.

**If you call the function as follows then it will return the average power of cars for each Brand.

In [36]:
def analyze_car_data(count_type, property_type):
    if count_type!="Count":
        return dict(df.groupby(property_type)[count_type].mean())
    else:
        return dict(df.groupby(property_type)[property_type].count())

In [37]:
avg_power_brand = analyze_car_data("Power", "Brand")

In [38]:
avg_power_brand

{'Alfa Romeo': 128.74285714285713,
 'Audi': 169.0877458396369,
 'BMW': 181.17215189873417,
 'Bentley': 556.2,
 'Chevrolet': 143.69098712446353,
 'Chrysler': 199.5211267605634,
 'Citroën': 98.5,
 'Dacia': 78.95161290322581,
 'Ferrari': 507.53846153846155,
 'Fiat': 83.46153846153847,
 'Ford': 106.43466666666667,
 'Honda': 113.20491803278688,
 'Hyundai': 100.54385964912281,
 'Jaguar': 222.0,
 'Kia': 108.84656084656085,
 'Lada': 70.5609756097561,
 'Lancia': 114.375,
 'Maserati': 364.25925925925924,
 'Mazda': 119.29007633587786,
 'Mercedes - Benz': 182.42527472527473,
 'Mini': 134.3909090909091,
 'Nissan': 118.64331210191082,
 'Opel': 103.02884615384616,
 'Peugeot': 96.8188775510204,
 'Porsche': 352.6322314049587,
 'Renault': 89.36163522012579,
 'Rover': 124.21739130434783,
 'Seat': 102.7892561983471,
 'Skoda': 97.93225806451613,
 'Smart': 58.5,
 'Subaru': 177.35849056603774,
 'Suzuki': 76.52941176470588,
 'Tata': 65.38461538461539,
 'Tofaş': 75.81065088757397,
 'Toyota': 98.83282674772036,
 'Volkswagen': 113.71461716937355,
 'Volvo': 146.21323529411765}

In [39]:
num_transmission = analyze_car_data("Count", "Tranmission")

In [40]:
num_transmission

{'Manuel': 3968, 'Otomatik': 1470, 'Yarı Otomatik': 2870}

In [41]:
avg_price_city = analyze_car_data("Price", "City")

In [42]:
avg_price_city

{'Adana': 68796.35802469136,
 'Adıyaman': 72804.76190476191,
 'Afyonkarahisar': 61468.0,
 'Aksaray': 59964.25,
 'Amasya': 49504.02702702703,
 'Ankara': 87678.39036513545,
 'Antalya': 109401.56272841051,
 'Ardahan': 47875.0,
 'Artvin': 34460.0,
 'Aydın': 59419.31884057971,
 'Ağrı': 39166.5,
 'Balıkesir': 54961.15957446808,
 'Bartın': 74183.33333333333,
 'Batman': 72102.94117647059,
 'Bayburt': 65821.25,
 'Bilecik': 74772.22222222222,
 'Bingöl': 79200.0,
 'Bitlis': 26800.0,
 'Bolu': 56679.6875,
 'Burdur': 39130.5,
 'Bursa': 77534.09407665505,
 'Canakkale': 76644.44444444444,
 'Cankırı': 65850.0,
 'Corum': 61426.0,
 'Denizli': 66683.6305732484,
 'Diyarbakır': 111486.95652173914,
 'Düzce': 52468.41176470588,
 'Edirne': 55500.0,
 'Elazığ': 58118.15677544699,
 'Erzincan': 59426.470588235294,
 'Erzurum': 70053.57790439378,
 'Eskişehir': 91988.81176470588,
 'Gaziantep': 110439.0054945055,
 'Giresun': 91271.66666666667,
 'Gümüşhane': 56833.333333333336,
 'Hakkari': 106500.0,
 'Hatay': 66854.9504950495,
 'Isparta': 66093.42105263157,
 'Istanbul': 219559.84795490224,
 'Izmir': 100453.4963768116,
 'Iğdır': 44785.0,
 'Kahramanmaraş': 71285.22950819672,
 'Karabük': 70171.42857142857,
 'Karaman': 68997.88,
 'Kars': 47050.0,
 'Kastamonu': 38612.794871794875,
 'Kayseri': 59333.635802469136,
 'Kilis': 100416.66666666667,
 'Kocaeli': 67112.49302325581,
 'Konya': 86838.72039532213,
 'Kütahya': 45144.13953488372,
 'Kırklareli': 74479.125,
 'Kırıkkale': 87373.80952380953,
 'Kırşehir': 61485.23529411765,
 'Malatya': 53776.903846153844,
 'Manisa': 47484.779411764706,
 'Mardin': 152837.5,
 'Mersin': 81376.43634571866,
 'Muğla': 65171.89887640449,
 'Muş': 67000.0,
 'Nevşehir': 77767.14285714286,
 'Niğde': 53497.5,
 'Ordu': 62495.833333333336,
 'Osmaniye': 63605.68571428571,
 'Rize': 53393.833333333336,
 'Sakarya': 71699.33987781756,
 'Samsun': 53902.56428571429,
 'Sanlıurfa': 88430.45454545454,
 'Siirt': 76141.5,
 'Sinop': 48566.666666666664,
 'Sivas': 58833.48484848485,
 'Sırnak': 47437.5,
 'Tekirdağ': 56055.541666666664,
 'Tokat': 61457.8125,
 'Trabzon': 73053.0,
 'Tunceli': 70000.0,
 'Uşak': 49141.555555555555,
 'Van': 82588.3,
 'Yalova': 41800.0,
 'Yozgat': 48771.206896551725,
 'Zonguldak': 65820.6875}

#FINISH